html, body, #root {
	height: 100%;
}

body, #root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

main {
	flex: 1 0 auto;
}
@import "tailwindcss";